.background{
    width: 100%;
    height: auto;
}
.bodyBack{
    background-image: url('/static/assets/back/images/subpage_bg.jpg') !important;
    background-size: cover!important;
    background-attachment: fixed!important;
    background-repeat:no-repeat;
}

*{
    color:lightgrey;
}

