.background{
    width: 100%;
    height: auto;
}
.bodyBack{
    background-image: url('/static/assets/back/images/subpage_bg.jpg') !important;
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
}
.echo{
    color:lightgrey;
}
.mytable {
    table-layout: fixed;
    width: 97% ;
    border:0px;
    margin: 0px;
}

.mytable tr .mytd {
    text-overflow: ellipsis; /* for IE */
    -moz-text-overflow: ellipsis; /* for Firefox,mozilla */
    overflow: hidden;
    white-space: nowrap;
    text-align: left
}


