<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.blog.web.admin.dao.ContentDao">

    <sql id="ContentColumns">
          a.id,
          a.type_id AS 'typeId',
          a.title,
          a.author_id AS 'authorId',
          a.pic,
          a.status,
          a.content,
          a.title_desc AS 'titleDesc',
          a.reads,
          a.created,
          a.updated,
          b.username AS 'user.username',
          b.pic AS 'user.pic',
          b.phone AS 'user.phone',
          b.email AS 'user.email'
    </sql>

    <sql id="LeftJoinUser">
        JOIN user AS b ON a.author_id = b.id
    </sql>

    <select id="selectAll" resultType="Content">
        SELECT
        <include refid="ContentColumns"/>
        FROM content AS a
        <include refid="LeftJoinUser"/>
        WHERE a.status = '1'
    </select>

    <select id="pageList" resultType="Content">
        SELECT
          <include refid="ContentColumns"/>
        FROM content AS a
          <include refid="LeftJoinUser"/>
        WHERE a.status = '1'
        <if test="title != null and title != '' ">
            AND a.title LIKE concat('%',#{title},'%')
        </if>
        <if test="typeId != null and typeId != '' ">
            AND a.type_id = #{typeId}
        </if>
        <if test="page!=null">
            LIMIT #{page.start},#{page.size};
        </if>
    </select>

    <select id="count" resultType="Integer">
        SELECT
          COUNT(*)
        FROM content AS a
        WHERE a.status = '1'
        <if test="title != null and title != '' ">
            and a.title like concat('%',#{title},'%')
        </if>
        <if test="typeId != null and typeId != '' ">
            and a.type_id = #{typeId}
        </if>
    </select>

    <select id="selectById" resultType="com.gw.blog.domain.Content">
        SELECT
        <include refid="ContentColumns"/>
        FROM content AS a
        <include refid="LeftJoinUser"/>
        WHERE a.status = '1'
        AND a.id = #{id};
    </select>

    <insert id="insert">
        INSERT INTO content (
          type_id,
          title,
          author_id,
          pic,
          status,
          content,
          title_desc,
          created,
          updated
        )
        VALUES
          (
            #{typeId},
            #{title},
            #{authorId},
            #{pic},
            #{status},
            #{content},
            #{titleDesc},
            #{created},
            #{updated}
          );
    </insert>

    <update id="update">
        UPDATE
          content
        SET
          `id` = #{id},
          `type_id` = #{typeId},
          `title` = #{title},
          `author_id` = #{authorId},
          `pic` = #{pic},
          `status` = #{status},
          `content` = #{content},
          `title_desc` = #{titleDesc},
          `reads` = #{reads},
          `created` = #{created},
          `updated` = #{updated}
        WHERE `id` = #{id};

    </update>
    <select id="getByTypeId" resultType="Content">
        SELECT
        <include refid="ContentColumns"/>
        FROM
        content AS a
        <where>
            <if test="typeId!=null">
                AND a.type_id=#{typeId}
            </if>
        </where>
        <if test="page!=null">
            LIMIT #{page.start},#{page.size};
        </if>
    </select>
</mapper>