<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.blog.web.admin.dao.TypeDao">

    <sql id="typeColumns">
          a.id,
          a.parent_id AS 'parentId',
          a.name,
          a.status,
          a.is_parent AS 'isParent',
          a.sort_order AS 'sortOrder',
          a.created,
          a.updated
    </sql>

    <select id="selectAll" resultType="Type">
        SELECT
        <include refid="typeColumns"/>
        FROM type AS a
        WHERE a.status = '1'
        ORDER BY sort_order ASC
    </select>


</mapper>