<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.blog.web.admin.dao.UserDao">

    <sql id="userColumns">
            a.id,
            a.username,
            a.pic,
            a.email,
            a.phone,
            a.role,
            a.status,
            a.created,
            a.updated
    </sql>


    <update id="update">
        UPDATE
            user
        SET
                <if test="username != null and username != ''">
                    username=#{username},
                </if>
                <if test="password != null and password != ''">
                    password=#{password},
                </if>
                <if test="phone != null and phone != ''">
                    phone=#{phone},
                </if>
                <if test="email != null and email != ''">
                    email=#{email},
                </if>
                <if test="role != null and role != ''">
                    role=#{role},
                </if>
                <if test="status != null">
                    status=#{status},
                </if>
                    updated=#{updated}
        WHERE
            id=#{id}
    </update>

    <select id="getByLoginId" resultType="User">
        SELECT
          <include refid="userColumns"/> ,
           a.password
        FROM
          user AS a
        WHERE
          a.username = #{username}
          AND a.status = '1';
    </select>

    <select id="selectById" resultType="User">
        SELECT
          <include refid="userColumns"/>
        FROM
        user AS a
        WHERE
        a.id = #{id}
    </select>

    <select id="pageList" resultType="com.gw.blog.domain.User">
        SELECT
          <include refid="userColumns"/>
        FROM
          user AS a
        <where>
            <if test="username != null and username != ''">
              AND  a.username LIKE CONCAT('%',#{username},'%')
            </if>
            <if test="phone != null and phone != ''">
              AND  a.phone LIKE CONCAT('%',#{phone},'%')
            </if>
            <if test="email != null and email != ''">
              AND a.email LIKE CONCAT('%',#{email},'%')
            </if>
        </where>
        ORDER BY a.updated DESC
        <if test="page!=null">
            LIMIT #{page.start},#{page.size};
        </if>
    </select>

    <select id="count" resultType="java.lang.Integer">
        SELECT
            COUNT(1)
        FROM
        user AS a
        <where>
            <if test="username != null and username != ''">
              AND  a.username LIKE CONCAT('%',#{username},'%')
            </if>
            <if test="phone != null and phone != ''">
              AND  a.phone LIKE CONCAT('%',#{phone},'%')
            </if>
            <if test="email != null and email != ''">
              AND a.email LIKE CONCAT('%',#{email},'%')
            </if>
        </where>
    </select>

    <insert id="insert" >
        INSERT INTO user (
          username,
          password,
          pic,
          email,
          phone,
          role,
          created,
          updated
        )VALUES (
          #{username},
          #{password},
          #{pic},
          #{email},
          #{phone},
          #{role},
          #{created},
          #{updated}
        )
    </insert>
</mapper>