<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gw.blog.web.admin.dao.UserDao">

    <sql id="userColumns">
            a.id,
            a.username,
            a.password,
            a.pic,
            a.email,
            a.phone,
            a.role,
            a.created,
            a.updated
    </sql>


    <update id="update">
        UPDATE
            user
        SET
                <if test="username != null and username != ''">
                    username=#{username},
                </if>
                <if test="password != null and password != ''">
                    password=#{password},
                </if>
                <if test="phone != null and phone != ''">
                    phone=#{phone},
                </if>
                <if test="email != null and email != ''">
                    email=#{email},
                </if>
                <if test="role != null and role != ''">
                    role=#{role},
                </if>
                    updated=#{updated}
        WHERE
            id=#{id}
    </update>

    <select id="getByLoginId" resultType="User">
        SELECT
          <include refid="userColumns"/>
        FROM
          user AS a
        WHERE
          a.username = #{username}
    </select>

    <select id="selectById" resultType="User">
        SELECT
        <include refid="userColumns"/>
        FROM
        user AS a
        WHERE
        a.id = #{id}
    </select>

    <select id="pageQueryUser" resultType="com.gw.blog.domain.User">
        SELECT
          <include refid="userColumns"/>
        FROM
          user AS a
        <where>
            <if test="paramMap.user.username != null and paramMap.user.username != ''">
                a.username LIKE CONCAT('%',#{paramMap.user.username},'%'),
            </if>
            <if test="paramMap.user.phone != null and paramMap.user.phone != ''">
                a.phone LIKE CONCAT('%',#{paramMap.user.phone},'%'),
            </if>
            <if test="paramMap.user.email != null and paramMap.user.email != ''">
                a.email LIKE CONCAT('%',#{paramMap.user.email},'%')
            </if>
        </where>
        ORDER BY a.updated DESC
        LIMIT #{paramMap.start},#{paramMap.pageSize}
    </select>
</mapper>